[Unit]
Description=Sets governor on battery power

[Service]
Type=oneshot
ExecStart=cpupower frequency-set --governor powersave

[Install]
WantedBy=battery.target
